
form{
    width: 400px;
    height: 420px;
    align-items: center;
    text-align: center;
    position: relative;
    top: 200px;
    margin: auto;
    background-color: bisque;
    display: block;
}

.btns{
    width: 100%;
    height: 15%;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: rgb(49, 49, 234);
    position: relative;
    top: -10px;
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

form small{
    color: rgb(4, 4, 179);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form h1{
    color: blue;
    font-weight: bold;
    font-size: 40px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-new{
    width: 50%;
    height: 40px;
    outline: none;
    border: none;
    color: white;
    font-size: 15px;
    background-color: rgb(55, 158, 55);
    border-radius: 5px;
    font-weight: bold;
}

.page{
    position: relative;
    top: 200px;
    display: block;

}












